@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

 
@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-s: 31.25rem;
  --breakpoint-lg: 69rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

  /*   @font-face { */
   /*    font-family: 'MyCustomFont'; */ /* Choose a descriptive name for your font */
      /* src: url('./assets/fonts/gilroy-semibold') format('ttf'); */
      /* font-weight: normal; */ /* Specify the weight if needed (e.g., normal, bold, 400, 700) */
      /* font-style: normal; */ /* Specify the style if needed (e.g., normal, italic) */
  
  /*   } */

/* blur-2xl */ 

/* Overlay+Border+OverlayBlur */


/* border-radius: 31px; */




body {
  /* font-family: "MyCustomFont", sans-serif; */
  font-family: "Archivo", sans-serif;
  background-color: #EFEFF2;
  width: 100%;
  max-width: 1464px;
  padding-inline: 36px;
  margin: 0 auto;
  /* padding-inline: 60px; */
  color: #333333F2;
  overflow-x: hidden;
  /* Backyard */


color: rgba(51, 51, 51, 0.95);


}

.filter {
  /* filter: invert(100%); */
  mix-blend-mode: color-dodge;
  /* transform: rotate(-180deg); */
}

@media screen and (max-width: 640px) {
  body {
    padding-inline: 25px;
  }
}

/* Connect */

/* position: absolute;
width: 47px;
height: 14px;
left: calc(50% - 47px/2 + 1px);
top: 9px;

font-family: 'Konnect';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 14px;
text-align: center;

color: #FBFBFC; */

